

  .about-con {
      height: auto;
      width: 60%;
      background-color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -35%);
  }

  .about {
      width: auto;
      height: 100%;
      margin: 25px 25px 25px 25px;
  }

  img  {
      float: left;
      width: 40%;
      height: 40%;
      margin: 5px 15px 15px 5px;
  }

  p {
      color: gray;
      font-size: 90%;
      line-height: 22px;
      font-family: 'Alegreya SC', serif;
  }


  