
main {
    height: 960px;
    width: 100vw;
    background-image: url('../images/grey_bg.jpg');
}
  .port-con {
      height: auto;
      width: 60%;
      background-color: white;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -35%);
  }

  .port {
      width: auto;
      height: 100%;
      margin: 25px 25px 25px 25px;
  }

  .card {
      height: 200px;
      width: 30%;
      float: left;
      margin: 25px;
      transition: .6s all ease;
      /* box-shadow: 5px 5px rgba(3, 2, 2, 0.1); */
  }

  .card:hover {
      transform: translateY(-7px);
  }

  #card-1 {
      background-color: aqua; 
      background-image: url('../images/card_1.jpeg');
      background-size: 100% 100%;
      }
  #card-2 {
      background-color: green;
      background-image: url('../images/card_2.jpeg');
      background-size: 100% 100%;
      }
  #card-3 {
      background-color: yellow;
      background-image: url('../images/card_3.jpeg');
      background-size: 100% 100%;
      }
  #card-4 {
      background-color: teal;
      background-image: url('../images/card_4.jpeg');
      background-size: 100% 100%;
      }
  #card-5 {
      background-color: aqua;
      background-image: url('../images/card_5.jpeg');
      background-size: 100% 100%;
      
      }

  .banner {
      background-color: rgb(55, 187, 174);
      height: 50px;
      width: 100%;
      color: white;
      font-size: 19px;
      text-align: center;
      line-height: 50px;
      margin-top: 145px;
  }